.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
@font-face {
    font-family: myFirstFont;
    src: url();
  }
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(157, 190, 157);
    font-family: Montserrat;
}
hr {
  border: none;
        height: 2px;
        background: black;
        
}